* 
{
padding: 0;
margin: 0;
}

body
{ 
font-family: Verdana,Helvetica,sans-serif; 
text-align: center;
background: #bebcad;
}

h3
{ 
text-align: justify;
padding: 15px 50px 30px;
color: #786A47;
font-size: 35px;
line-height: 2.5em;
}

p
{
text-align: justify;
padding: 15px 50px 30px;
color: #786A47;
font-size: 35px;
line-height: 1.5em;
}

a
{
text-decoration: none;
}

a:link ,a:visited
{
color: #5785A4;
}

a:hover
{
color: #1D8FDB;
}

h3
{
font: normal 10px/12px Arial,Helvetica,sans-serif;
text-transform: uppercase;
margin: 20px 0 0 30px;
color: #574D33;
}

ul
{
list-style: none; 
margin: 10px 20px 30px 10px;
}

li
{
padding-left: 1px;
margin: 10px 0 0 8px;
display: block;
list-style: none;
background: transparent url(dot.gif) repeat-x 0 100%;
}

table
{
margin-left: auto;
margin-right: auto;
}

td, th
{
font-size: 20px;
border: 1px solid black;
color: #333;
}


