* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
	background: #FFFFFF;
	color: #333;
}


.sentence,
.footer {
	width: 100%;
	text-align: center;
	line-height: 3em;
}

.sentence {
	padding: 1em 0;
	font-size: 1.3em;
}

.footer {
	margin-top: 4em;
	border-top: 1px dotted black;
}

table, th, tr, td {
	border: none;
}

td, th {
	padding: 0.5em 1em;
}

thead,
thead tr {
	font-weight: normal;
	background-color: black;
}

thead tr th,
thead tr td {
	color: white;
	background-color: black;
	font-size: 1em;
	font-weight: bolder;
	text-align: left;
	text-transform: uppercase;
	vertical-align:top; 
	margin-top:0;
}

a, a:visited, a:active {
	color: #0000EE;
}

.number {
	text-align: right;
	font-size: 1.7em;
	font-family: 'Big Caslon', serif;
}

.dept {
	font-weight:  bolder;
	background-color: #eee;
}

.address {
	font-size: 0.8em;
}
